# Rust
target/*
.cache/.cargo/*
contracts/**/target/*

# C
contracts/c/build/*
common/secp256k1/ckb-lib-secp256k1/build/*
common/blst/ckb-lib-secp256k1-blst/build/*

# others
build/*
!.gitkeep
.tmp/

.vscode
